<!-- Begin MailChimp Signup Form -->
<style type="text/css">
    #mailchimp {
        background: #f8f8f8;
        color: #3D6392;
        padding: 5px 5px;
    }
        #mailchimp input {
            display:inline-block;
            border: medium none;
            color: gray;
            font-family: times new roman;
            font-size: 16px;
            font-style: italic;
            margin-bottom: 10px;
            padding: 8px 10px;
            border-radius: 20px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
        }
            #mailchimp input.email { 
                background: #fff ;
                width: 160px;
            }
            #mailchimp input[type="submit"] {
                background: #115B87;
                color: #fff;
                cursor: pointer;
                font-size: 15px;
                padding: 8px 0;
                width: 71px;

            }
            #mailchimp input[type="submit"]:hover { color: #F2C94C }
</style>
<div id="mailchimp">
<form action="//rwxin.us14.list-manage.com/subscribe/post?u=3530aaefff3c67fac692abea5&amp;id=33a44c837a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="height: 35px;">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="邮件地址" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3530aaefff3c67fac692abea5_33a44c837a" tabindex="-1" value=""></div>
    <input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
</div>

<!--End mc_embed_signup-->

